/* *{
    width: 95%;
} */

body{
    min-height: 100%;
    min-width: 100%;
    /* background-color: rgb(53, 58, 61); */
}

#full-page{
    width: 95%;
}

nav{
    background-color: rgb(53, 58, 61);
    height: 40px;
}

a{
    text-decoration: none;
    color: rgb(100, 148, 237);
    font-size: 24px;
}

a:hover{
    text-decoration: none;
}

#register-form{
    max-width: 95%;
}

#form-logo-name{
    text-align: center;
}

#form-description{
    text-align: center;
}

#user-form > input{
    margin-bottom: 20px;
    /* background-color: rgb(53, 58, 61); */
}
/* 
#user-form input::placeholder{
    color: white;
} */

#form-button{
    position: relative;
    left: 25%;
    width: 50%;
}

#upper-right-nav-bar > li {
    /* padding-top: 5px; */
    padding-right: 30px;
    font-size: 24px;
}

footer{
    background-color: rgb(53, 58, 61);
    height: 40px;
    position: relative;
    margin-bottom: 0px;
    bottom: 0px;
    left: 0px;
    min-width: 95vw;
    color: white;
}

footer > p {
    font-size: 24px;
    position: absolute;
    right: 0px;
    padding-right: 30px;
}

#search, #search::placeholder{
    background-color: black;
    color: white;    
    border: none;
}

#project-name{
    color: white;
}

input #search{
    margin-top: 10px;
}

/* #movie-search-div{
    max-width: 50%;
    margin-top: 25px;
    margin-left: 25%;
    display: block;
} */
#movie-result-div{
    width: 95%;
    /* align-items: center; */
    position: relative;
    /* left: 50%; */
}

/* #movie-search-div{

}
 */
#movie-form{
    margin-top: 10px;
}

#movie-form-button{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 220px;
    width: 20%;
} 

/* .carousel-img{
    position: relative;
    max-width: 400px;
    /* max-height: 400px; */
/* } */ 

/* #carousel-div{
    position: relative;
    margin-left: 25%;
    /* display: inline; */
    /* max-width: 400px; */
/* }  */ 

.left-grid{
    margin-left: 0px;
}
/*
.carousel-item{
    position: relative;
    max-width: 400px;
} */

#movie-result-div > p{
    position: absolute;
    display: block;
    /* left: 200px;
    top: 200px; */
}

#no-movie-res{
    font-size: 24px;
}

/* .movie-titles{
    padding-left: 25px;
} */
.search-buttons{
    margin: 0;
    padding: 0;
    display: inline;
    border: none;
}

#movie-title{
    display: inline-block;
}

#movie-backdrop{
    width: 500px;
    padding-left: 10px;
    padding-top: 10px;
}

.add-to-movie-list{
    position: absolute;
    padding-top: 10px;
    margin-left: 10px;
}


.movie-desc{
    font-size: 22px;
}

.movie-descriptor,
.movie-desc{
    display: inline;
}

#main-movie-info{
    position: absolute;
    margin-left: 520px;
    margin-top: -170px;
}

#movie-title{
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
}

#favorites-h1,
#watch-later-h1{
    /* position: absolute; */
    display: block;
    text-align: center;
}

/* #carouselExampleIndicators{
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    padding-left: 50px;
} */

#add-to-favorites-form{
    position: absolute;
    display: inline;
    margin-left: 180px;
}

#add-to-favorites-button{
    position: absolute;
    margin-left: 215px;
    margin-top: -38px;
}

#genres{
    position: relative;
    margin-left: 10px;
    min-height: 135px;
}

#critic-score{
    position: absolute;
    margin-left: 130px;
    margin-top: -133px;
}

#critic-score-number{
    text-align: center;
    font-size: 36px;
}

#overview{
    position: absolute;
    margin-left: 320px;
    margin-top: -133px;
    max-width: 450px;
}

#sim-titles{
    padding-left: 10px;
}

.user-lists{
    display: inline-block;
}

.user-details{
    margin-left: 10px;
}

#movie-posters{
    align-items: center;
    margin-left: 100px;
    padding-left: 100px;
    padding-top: 25px;
}

.carousel-inner, img, .carousel-indicators{
    margin: auto;
  }

.carousel-title{
    color: white;
}
  