{% extends 'base.html' %}
{% block title %} Search Movies{% endblock %}
{% block content %}

<h1>Results For "{{ name }}"</h1>
<a href="/">Not What You're Looking For? Search Again!</a>

{% if list_length == 0 %}
    <p id="no-movie-res">No Results! <a href="/movies">Try Searching Again</a></p>
{% else %}
    {% for r in res %}
    <div class="card movie-titles" style="width: 18rem;">
        <a href="/movies/{{r['id']}}">
            <img class="card-img-top" src="{{ r['image_url'] }}" alt="Movie Poster">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ r['name'] }}</h5>
            <p>Year of Release: {{ r['year'] }}</p>
            <a href="/movies/{{r['id']}}" class="btn btn-primary">More Info</a>
        </div>
    </div>
{% endfor %}
{% endif %}

{% endblock %}
