{% extends 'base.html' %}
{% block title %} {{movie['title']}}'s Page {% endblock %}
{% block content %}
<img id="movie-backdrop" src="{{ movie['backdrop'] }}" alt="movie backdrop">

<form  method="POST" action="/movies/{{ movie['id'] }}/watch-later" class="search-buttons add-to-movie-list" id="watch-later">
    <button class="btn btn-primary">Add to Watch Later</button>
</form>

<form method="POST" id="add-to-favorites-form" id="favorites" class="search-buttons add-to-movie-list" >
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button id="add-to-favorites-button" class="btn btn-primary">Add to Favorites</button>
</form>

<h1 id="movie-title">{{ movie['title'] }}</h1>

<div id="main-movie-info">
    <p class="movie-desc">Runtime: </p>
    <p class="movie-descriptor">{{ movie['runtime_minutes'] }} minutes</p>
    <br>
    <p class="movie-desc">Release Date: </p>
    <p class="movie-descriptor">{{ movie['release_date'] }}</p>
    <br>
    <p class="movie-desc">Movie Rating: </p>
    <p class="movie-descriptor">{{ movie['us_rating'] }}</p>
</div>

<div id="genres">
    <h2>Genres</h2>
    <ul>
    {% for genre in movie['genre_names'] %}
        <li class="genre">{{ genre }}</li>
    {% endfor %}
    </ul>
</div>
<div id="critic-score">
    <h2>Critic Score</h2>
    <p id="critic-score-number">{{movie['critic_score']}}</p>
</div>
<div id="overview">
    <h2>Overview</h2>
    <p>{{movie['plot_overview']}}</p>
</div>
<div id="similar-titles">
    <h2>Related Movies</h2>

    {% for value in sim_titles_info.values() %}
    <div class="card movie-titles" id="sim-titles" style="width: 18rem;">
        <a href="/movies/{{value[0]}}">
            <img class="card-img-top" src="{{ value[3] }}" alt="Movie Poster">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ value[1] }}</h5>
            <p>Year of Release: {{ value[2] }}</p>
            <a href="/movies/{{value[0]}}" class="btn btn-primary">More Info</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}


        
    

