{% extends 'base.html' %}

{% block content %}


  <div class="col-9">
    <ul class="user-stats nav nav-pills">
      <li class="stat">
        <p class="small user-details" id="following">Following</p>
        <h4>
          <a class="user-details" href="/users/{{ user.id }}/following">{{ g.user.following | length }}</a>
        </h4>
      </li>
      <li class="stat" id="followers">
        <p class="small user-details">Followers</p>
        <h4 >
          <a class="user-details" href="/users/{{ user.id }}/followers">{{ g.user.followers | length }}</a>
        </h4>
      </li>
      <div class="user-details">
        <form method="POST" action="/users/{{ g.user.id }}/edit">
            <button class="btn btn-outline-secondary ml-2" id="edit-button">Edit Profile</button>
        </form>
        <form method="POST" action="/users/{{g.user.id}}/delete" class="form-inline" id="delete-button">
          <button class="btn btn-outline-danger ml-2">Delete Profile</button>
        </form>
      </div>
    </ul>
  </div>

<div id="user-lists">
  <h2>View Your Saved Lists</h2>
  <div id="user-favorites">
    <a href="/users/{{g.user.id}}/favorites">Favorites</a>
  </div>

  <div id="user-watch-later">
    <a href="/users/{{g.user.id}}/watch_later">Watch Later</a>
  </div>
</div>
  {% block user_details %}
  {% endblock %}


{% endblock %}